[*.cs]
dotnet_diagnostic.SA1200.severity = None
dotnet_diagnostic.SA1309.severity = None
dotnet_diagnostic.SA1502.severity = None
dotnet_diagnostic.SA1633.severity = None
dotnet_diagnostic.SA1623.severity = None
dotnet_diagnostic.SA1011.severity = None
dotnet_diagnostic.SA1504.severity = None
dotnet_diagnostic.SA1516.severity = None
dotnet_diagnostic.SA1310.severity = None
dotnet_diagnostic.SA1111.severity = None
dotnet_diagnostic.SA1101.severity = None
dotnet_diagnostic.SA1009.severity = None
dotnet_diagnostic.SA1000.severity = None
dotnet_diagnostic.S2583.severity = None
